*{
    margin: 0;
    padding: 0;
    width: max;
}
body{
    background-color: rgb(50, 55, 66);
}
.hp{
    height: 60px;
    background-color: black;
    color: azure;
}
.hp a{
    color: aliceblue;
}
.head{
    margin-left: 10px;
    margin-right: 150px;
    position: relative;
    top: 20px;
}
.bob{
    position: relative;
    top: 20px;
}
button{
    background-color: orange;
    height: 22px;
    width: 22px;
}
input{
    color: black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: tomato;
}
h1{
    border: 4px solid rgb(123, 60, 70);
    color: azure;
    background-color: rgb(163, 212, 157);
    position: relative;
    top: 10px;
}
.con{
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 3s ease-in;
}
.divp{
    width: 500px;
    height: 200px;
    color: rgb(14, 18, 18);
    background-color: rgb(126, 220, 220);
    border: 2px solid  rgb(194, 157, 101);
    padding: 20px;
    margin-top: 20px ;
    }
.divp:hover{
      background-color: rgb(164, 237, 166 ,0.35);
      color: tomato;
      transform: translatex(30px);
      z-index: 3;
}
.divp:active{
    background-color: rgb(90, 127, 206 , 0.40);
    color: rgb(176, 105, 176 );
}
.an{
    float: right;
    position: relative;
    top: 30px;
}
.fot{
    height: 60px;
    text-align: center;
    background-color: black;
    color: azure;
    padding: 10px;
}
.fotc{
    margin-right: 10px;
    margin-left: 10px ;
}